<div class="container mt-5">
  <div class="bg-grey d-flex justify-content-between align-items-center">
    <img src="../../../assets/jonas-profil.jpg" alt="Bild på Jonas">
    <ul class="pe-5">
      <li><i class="fas fa-phone-square-alt fa-fw"></i><span class="ms-2">070-39 29 907</span></li>
      <li><i class="fas fa-envelope-open fa-fw"></i><span class="ms-2">larsjonasandreas.persson@gmail.com</span></li>
      <li><i class="fab fa-linkedin-in fa-fw"></i><a href="https://www.linkedin.com/in/lars-jonas-andreas-persson/" class="ms-2">https://www.linkedin.com/in/lars-jonas-andreas-persson/</a></li>
      <li><i class="fab fa-github fa-fw"></i><a href="https://github.com/grawlan" class="ms-2">https://github.com/grawlan</a></li>
    </ul>
  </div>
  <div class="container mt-5 bg-grey text-center">
  <h1>Frontendutvecklare</h1>    
  </div>
</div>
