<div class="container mt-5 bg-grey">
  <div class="d-flex justify-content-between align-items-center pt-2">
    <h3>Tibnor AB</h3>
    <h4>2015-2020</h4>
  </div>
  <p>Produktionsspecialist</p>
  <ul class="pb-2">
    <li>Kalkylering av projekt och andra produktionsrelaterade objekt</li>
    <li>Kravställning och utveckling: It och system</li>
    <li>Lean, optimering, processutveckling och dokumentation</li>
    <li>Ritningstolkning och brytning av projektritningar</li>
    <li>SAP, Nestix och Excel</li>
  </ul>
</div>
<div class="container mt-5 bg-grey">
  <div class="d-flex justify-content-between align-items-center pt-2">
    <h3>Tibnor AB</h3>
    <h4>2007-2015</h4>
  </div>
  <p>Produktionsplanerare</p>
  <ul class="pb-2">
    <li>Supply chain Management</li>
    <li>Programering av CAD-styrd robotmonterad plasmaskärningsmaskin</li>
    <li>Förbättringsarbete, 5s och Lean</li>
    <li>Lossning och lastning av lastbilar med travers</li>
    <li>SAP, AutoCad, boCad och Excel</li>
  </ul>
</div>
<div class="container mt-5 bg-grey">
  <div class="d-flex justify-content-between align-items-center pt-2">
    <h3>Vattenfall Kundservice AB</h3>
    <h4>2005-2007</h4>
  </div>
  <p>Kundservicemedarbetare</p>
  <ul class="pb-2">
    <li>Nyckelanvändare SAP med inriktning fakturering</li>
    <li>Kundrelationer</li>
    <li>Försäljning och support</li>
    <li>SAP och Excel</li>
  </ul>
</div>
<div class="container mt-5 bg-grey">
  <div class="d-flex justify-content-between align-items-center pt-2">
    <h3>Övrigt</h3>
  </div>
  <ul class="pb-2">
    <li>Körkort: AM, B</li>
    <li>Svenska: Flytande</li>
    <li>Engelska: Flytande</li>
    
  </ul>
</div>
