<div class="container mt-5 bg-grey d-flex align-items-center justify-content-between p-3 flex-column pb-0 text-center">
  <h2>Utbildningar</h2>
  <ul>
    <li>
      <p><span class="fw-bold">EC-Utbildning</span> - Frontendutvecklare 2-årig YH-utbildning - 2020-2022</p>
    </li>
    <li>
      <p><span class="fw-bold">Mälardalens Högskola</span> - 2 år Teknisk Fysik, 1 år Datavetenskap - 1998-2001</p>
    </li>
    <li>
      <p><span class="fw-bold">Malgomajskolan Vilhelmina</span> - Naturtekniskt program - 1994-1997</p>
    </li>
  </ul>
</div>
<div class="container mt-5 bg-grey d-flex align-items-center justify-content-between p-3 pb-0 flex-column text-center">
  <h2>Färdigheter</h2>
  <ul>
    <li>Problemlösning, Optimering, Testning </li>
    <li>HTML/CSS, Javascript, Bootstrap</li>
    <li>Vue.js, React.js, Node.js, Express.js</li>
    <li>Kalkylering, Lean, Projektarbete, Arbetsledning</li>
  </ul>
</div>